* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}


header {
  background-color: rgba(132, 201, 210, 0.788);
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  height: 140px;
}

header img {
  width: 100px;
  position: absolute;
  left: 20px;
  top: 20px;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  font-size: 50px;
  padding: 50px;
  list-style: none;
}

.navbar li {
  padding: 20px;
}

.navbar a {
  text-decoration: none;
}

.navbar a:hover {
  background-color: gray;
}

.navbar a:visited {
  color: white;
  text-decoration: none;
}

.main {
  background-color: gray;
  text-align: center;
  padding: 20px;
  width:100%;
  overflow:auto;
}

.main-banner {
  position: relative;
}

.coffee-banner {
  overflow: hidden;
  width: 100%;
  height: 350px;
  position: relative;
}

.banner-text-info {
  margin: 0;
}

.banner-text {
  background-color: #575757d0;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: 0px; /*Sets absolute position to the bottom of the parent class which is coffee banner's position:relative*/
  align-content: center;
  padding-top: 15px;
  padding-left: 15px;
}

.coffee-button {
  margin-top: 5px;
  margin-right: 10px;
}

.main-info{
  display:flex;
  justify-content:space-around;
  padding: 20px;
}

.article{
  width: 70%;
  padding: 20px;
  color:white;
}

.article-title{
  font-size: 40px;
}

.article-text{
  text-align: left;
  font-size: 22px;
}

.table-info, caption, th, tr, td{
  color:rgb(255, 255, 255);
  border: 1px white solid;
  caption-side: top;
  text-align: center;
}

.table-info{
  width: 45%;
  height: 50%;
  margin-top: 100px;
}

caption{
  background-color: rgba(211, 211, 211, 0.783);
}

th{
  width: 20%;
}

td{
  background-color: rgba(211, 211, 211, 0.691);
}

.aside{
  background-color:rgba(132, 201, 210, 0.788);
  width: 30%;
  padding: 20px;
}
.author-title{
  font-size:40px;
}

.author-picture {
  width: 200px;
  padding: 20px;
}

.author-info  p{
  font-size:20px;
}

.author-links li{
  width: 33%
}

.author-links{
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.author-link-icon{
  width: 100%;
  height:100%;
  border: 25px;
}

.tweet-list{
  list-style: none;
  font-size: 16px;
}


.footer{
  background-color:rgba(132, 201, 210, 0.788);
  font-size:24px;
  display:flex;
  justify-content: space-evenly;
  height: 300px;
  padding-top:25px;
  overflow:auto;
}

.photo-drink-list{
  display:flex;
  list-style:none;
  justify-content: center;
  flex-wrap: wrap;
}

.photo-drink-item{
  width:60%;
  padding-right:10px;
}

.photo-drink-list li{
  width:30%;
  height:30%;
}

.friends-lists{
  display:flex;
  justify-content:space-between
}
