@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');

body{
  height: 5000px;
  font-size: 1.0rem;
  font-family: "Six Caps", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  background-color: antiquewhite;

}

.libre-barcode-39-regular {
  font-family: "Libre Barcode 39", system-ui;
  font-weight: 400;
  font-style: normal;
}

h1{
  justify-content: center;
  width: 50%;
  border: 1px black solid;

  border-radius:3px;
}

/*Changes text inside h1 elements to green*/
/*0-0-1*/
h1:nth-of-type(1){
	color:#34A853;
}


/*Changes text inside elements with class="blue" to blue*/
/*0-1-0*/
.blue {
color: rgb(33, 33, 207);
}
/*Changes text inside elements with id="red" to color red*/
/*1-0-0*/
#red {
	color: rgb(222, 43, 43);

}

/*Changes all text inside p elements to black*/
/*0-0-1*/
p {
	color:black;
  font-size: 12px;
}
/*Changes text inside span elements to purple*/
/*0-0-1*/
span {
	color: purple
}
/*Changes text inside span elements that are INSIDE p elements to red*/
/*0-0-2*/
p span {
  color: red
}
