@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --color-blue: #4285F4;
  --color-red: #EA4335;
  --color-yellow: #FBBC05;
  --color-green: #34A853;
}

/* Reset all margins and paddings using the * command which represents ALL elements*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Ensures padding and border are included in element's total width and height */
  background-color: #f8f9fa;
}

html{
  background-color: #f8f9fa;
}
body {
  background-color: #f8f9fa;
  font-family: 'Roboto', sans-serif;
  height: 1000px
}

.container {
  text-align: center;
}

.header {
  padding: 30px;
}

h1 {
  text-align: center;
}

.about-me-logo {
  font-size: 7rem;
}

.blue-letter {
  color: var(--color-blue);
  margin: 0;
}

.red-letter {
  color: var(--color-red);
  margin: 0;
}

.yellow-letter {
  color: var(--color-yellow);
  margin: 0;
}

.green-letter {
  color: var(--color-green);
  margin: 0;
}

.greeting {
  font-size: 150%;
  display: flex;
  justify-content: center;
  padding-bottom: 2%;
}

.information{
  display:flex;
}

.reason {
  list-style-position: inside;/* Ensures the numbers are inside the list item and not to the far left*/
  padding: 30px;
  border: 3px solid black;
  border-radius: 10px;
  margin:2px;
}

.reason-list {
  font-size: 1rem;
  text-align:left;
}

.hobby-info{
  border: 3px solid black;
  border-radius: 10px;
  margin:2px;
}

.hobby-title{
  margin:40px;

}
.hobbies {
  display:flex;
  text-align: left;
  padding: 15px;
  overflow: auto;
  box-sizing: border-box;
}

.hobby {
  border-radius: 10px;
  border: 3px solid black;
  margin: 20px;
  width: 30%;
  list-style: none;
  text-align: center;
  box-shadow: 2px 2px 3px black;
}

.hobby img {
  width: 100%;

}

.navigate{
  display: flex;
  justify-content: center;
  text-align: left;
  background-color: #ffffff;
  border-bottom: 1px solid black;
  margin:1px;
}
