*{
  font-family: roboto, sans-serif;
  background-color: rgb(255, 254, 250);
}

.container{
  text-align: center;
  justify-content: center;
}

.header{
  font-size: 200%;
  padding: 30px;
}

.greeting{
  font-size: 150%;
}

.blue-text{
  list-style-position: inside; /* Ensures the numbers are inside the list item and not to the far left*/
  padding: 30px;

}

.hobbies{
  display: flex;
  justify-content: center;
  padding: 30px;
}

.hobby{
  display: block;
  text-align:center;
  border-radius:10px;
  border: 3px solid black;
  margin: 20px;
}

.navigate{
  margin: 30px;
}
