
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root{
  --color-blue: #4285F4;
  --color-red: #EA4335;
  --color-yellow: #FBBC05;
  --color-green: #34A853;
}


*{
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
}


html{
  background-color: #f8f9fa;
}

body{
  background-color: #f8f9fa;
}

.container{
  text-align: center;
  justify-content: center;
}

.header{
  font-size: 100em;
  padding: 30px;
}

h1{
  font-size: 3rem;
  text-align: center;
}

.about-me-logo{
  font-size: 7rem;
}

.blue-letter {
  color: var(--color-blue);
  margin: 0;
}

.red-letter {
  color: var(--color-red);
  margin: 0;
}

.yellow-letter {
  color: var(--color-yellow);
  margin: 0;
}

.green-letter {
  color: var(--color-green);
  margin: 0;
}

.greeting{
  font-size: 150%;

}

.reason{
  list-style-position: inside; /* Ensures the numbers are inside the list item and not to the far left*/
  padding: 30px;
}

.reason-list{
  font-size: 1rem;
}
.hobbies{
  display: flex;
  justify-content: center;
  padding: 30px;
}

.hobby{
  display: block;
  text-align:center;
  border-radius:10px;
  border: 3px solid black;
  margin: 20px;
}

.navigate{
  margin: 30px;
}
